.avatar {
  display: inline-block;
  vertical-align: middle;
  border-radius: var(--border-radius-full);
  background-color: var(--color-secondary);
  color: var(--color-black);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-sm {
  height: var(--space-lg);
  width: var(--space-lg);
  font-size: var(--space-xs);
}

.avatar-md {
  height: var(--space-xl);
  width: var(--space-xl);
  font-size: var(--space-sm);
}

.avatar-lg {
  height: var(--space-xxl);
  width: var(--space-xxl);
  font-size: var(--space-md);
}

.avatar__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-full);
}
