:root {
  /* Colors */
  --color-primary: #dc143c;
  --color-secondary: #f58a07;
  --color-black: #000000;
  --color-dark: #191919;
  --color-light: #eeeeee;
  --color-white: #ffffff;
  --color-gray: #808080;

  --color-success: #cff7cf;
  --color-success-text: #003303;
  --color-danger: #fcdcdc;
  --color-danger-text: #3b0100;
  --color-warning: #ffdcac;
  --color-warning-text: #472a00;
  --color-info: #bfe8fa;
  --color-info-text: #002638;

  --heading-color-primary: var(--color-primary);
  --text-color-primary: var(--color-dark);
  --background-color-primary: var(--color-white);

  --heading-color-secondary: var(--color-white);
  --text-color-secondary: var(--color-light);
  --background-color-secondary: var(--color-dark);

  --btn-text-color-primary: var(--color-white);
  --btn-background-color-primary: var(--color-primary);

  --btn-text-color-secondary: var(--color-dark);
  --btn-background-color-secondary: var(--color-secondary);

  /* Font families */
  --font-family-heading: "Poppins", sans-serif;
  --font-family-text: "Montserrat", sans-serif;

  /* Font sizes */
  --font-size-xs: 0.5rem;
  --font-size-sm: 1rem;
  --font-size-md: 1.5rem;
  --font-size-lg: 2rem;
  --font-size-xl: 3rem;

  /* Line heights */
  --line-height-sm: 1.25;
  --line-height-md: 1.333333;
  --line-height-lg: 1.5;
  --line-height-xl: 2;

  /* Letter spacings */
  --letter-spacing-sm: 0.05em;
  --letter-spacing-md: 0.1em;

  /* Font Weights */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  /* Spacing */
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 2.5rem;
  --space-xxl: 4rem;

  /* Border Radii */
  --border-radius-circle: 50%;

  /* Screen Sizes */
  --screen-size-sm: 600px;
  --screen-size-md: 768px;
  --screen-size-lg: 992px;
  --screen-size-xl: 1200px;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/* Reset paddings and margins */

.nobullets {
  list-style: none;
  margin: 0;
  padding: 0;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
}

.disabled {
  opacity: 0.38;
}

.alert {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  padding: var(--space-md) var(--space-xl);
  display: flex;
  align-items: center;
  border-radius: 12px;
  width: 100%;
}

.alert-success {
  background-color: var(--color-success);
  color: var(--color-success-text);
}

.alert-error {
  background-color: var(--color-danger);
  color: var(--color-danger-text);
}

.alert-warning {
  background-color: var(--color-warning);
  color: var(--color-warning-text);
}

.alert-info {
  background-color: var(--color-info);
  color: var(--color-info-text);
}

.avatar {
  display: inline-block;
  vertical-align: middle;
  border-radius: var(--border-radius-circle);
  background-color: var(--color-secondary);
  color: var(--color-black);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-sm {
  height: var(--space-lg);
  width: var(--space-lg);
  font-size: var(--space-xs);
}

.avatar-md {
  height: var(--space-xl);
  width: var(--space-xl);
  font-size: var(--space-sm);
}

.avatar-lg {
  height: var(--space-xxl);
  width: var(--space-xxl);
  font-size: var(--space-md);
}

.avatar__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-circle);
}

.badge {
  position: relative;
  font-size: var(--font-size-md);
}

.badge-anchor {
  position: absolute;
  top: calc(var(--font-size-xs) * -1);
  right: calc(var(--font-size-sm) * -1);
  font-size: calc(var( --font-size-md) / 2);
  border-radius: calc(var( --space-xl) / 2);
  line-height: calc(var( --space-xl) / 2);
  height: calc(var( --space-xl) / 2);
  min-width: calc(var( --space-xl) / 2);
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 0 6px;
}

.badge-anchor-avatar {
  position: absolute;
  bottom: 0;
  right: var(--space-xs);
  border-radius: calc(var( --space-xs) / 2);
  line-height: calc(var( --space-xs) / 2);
  height: var( --space-xs);
  width: var( --space-xs);
  background-color: var(--color-secondary);
  color: var(--color-white);
  padding: 0 4px;
}

.btn {
  background-color: var(--color-primary);
  color: var(--color-white);
  height: var(--space-lg);
  padding: 0 var(--space-sm);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  opacity: 0.85;
}

.btn:disabled,
.btn.disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.btn-primary {
  background-color: var(--color-primary);
}

.btn-link {
  background-color: var(--color-dark);
  text-decoration: none;
  line-height: var(--space-lg);
}

.btn-icon {
  background-color: var(--color-secondary);
}

.btn-floating-action {
  width: var(--space-lg);
  padding: 0;
  border-radius: var(--border-radius-circle);
}

.card {
  border-radius: 4px;
  background-color: var(--color-white);
  border: 1px solid var(--color-light);
  display: flex;
  flex-direction: column;
  width: calc(var(--space-sm) * 21.875);
  margin: var(--space-xl) 0;
}

.card-content {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.card-media {
  position: relative;
  object-fit: cover;
}

.card-title {
  padding: var(--space-sm);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semibold);
  color: var(--color-dark);
}

.card-description {
  padding: 0 var(--space-sm) var(--space-xs);
  font-size: var(--font-size-sm);
  color: var(--color-dark);
}

.card-action {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: var(--space-xxl);
  padding: var(--space-xs);
  margin-left: auto;
}

.card-btn {
  background-color: var(--color-white);
  color: var(--color-dark);
  height: var(--space-lg);
  border: 1px solid var(--color-light);
}

.card-btn:hover {
  box-shadow: none;
}

.card-btn:not(:last-child) {
  margin-right: var(--space-sm);
}

.card_with-badge {
  position: relative;
}

.card_text-overlay,
.card_text-only {
  height: min-content;
}

.card_text-overlay .card-text {
  position: absolute;
  bottom: 0;
  backdrop-filter: blur(6px) brightness(80%);
  color: var(--color-white);
}

.card_text-overlay .card-title {
  color: unset;
}

.card_text-overlay .card-description {
  color: unset;
}

.card_text-overlay .card-action {
  display: none;
}

.card_text-only .card-media {
  display: none;
}

.card_text-only .card-action {
  display: none;
}

.card_horizontal {
  width: calc(var(--space-sm) * 43.75);
  position: relative;
}

.card_horizontal .card-content {
  flex-direction: row;
}

.card_horizontal .card-media {
  width: 50%;
}

.card_horizontal .card-action {
  position: absolute;
  bottom: 0;
  right: 0;
}

.card_with-shadow {
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 12%);
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.img-round {
  width: calc(var(--space-xl) * 10);
  height: calc(var(--space-xl) * 10);
  object-fit: cover;
  border-radius: var(--border-radius-circle);
}

.textbox {
  margin: var(--space-xs) 0;
}

.textbox label {
  color: var(--color-dark);
  display: block;
  height: var(--space-md);
  line-height: var(--space-md);
  padding: 0;
  margin: var(--space-xs);
  border: 0;
  min-width: 0;
  width: 100%;
}

.textbox input {
  background-color: var(--color-white);
  color: var(--color-dark);
  height: var(--space-lg);
  padding: 0 var(--space-sm);
  margin: var(--space-xs);
  border: 1px solid var(--color-dark);
  min-width: 0;
  width: 100%;
  border-radius: 4px;
}

.textbox-error input {
  border: 1px solid var(--color-primary);
}

.textbox-validated input {
  border: 1px solid var(--color-success);
}

.rating {
  font-size: var(--font-size-md);
}

.rating .rating-star {
  cursor: pointer;
}

.rating .icon-filled {
  color: var(--color-secondary);
}

.heading-1 {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-md);
}

.heading-2 {
  font-size: var(--font-size-lg);
  line-height: var(--line-height-sm);
}

.heading-3 {
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
}

.heading-4 {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-lg);
}

.heading-5 {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xl);
}

.text-1 {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-md);
}

.text-2 {
  font-size: var(--font-size-lg);
  line-height: var(--line-height-sm);
}

.text-3 {
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
}

.text-4 {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-lg);
}

.text-5 {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xl);
}

.text-small {
  font-size: calc(var(--font-size-sm) * 5 / 6);
}

.text-gray {
  color: var(--color-gray);
}

.text-center {
  text-align: center;
}

.text-black {
  font-weight: var(--font-weight-black);
}

.text-bold {
  font-weight: var(--font-weight-bold);
}

.text-semibold {
  font-weight: var(--font-weight-semibold);
}

.text-regular {
  font-weight: var(--font-weight-regular);
}

.text-light {
  font-weight: var(--font-weight-light);
}
