/* ========================================================================== */
/* Documentation Styles */
/* ========================================================================== */

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
}

.header {
  background-color: var(--color-white);
  color: var(--color-primary);
  border-bottom: 1px solid var(--color-light);
  padding: 0 var(--space-xxl);
  display: flex;
}

.main h2 {
  color: var(--color-dark);
}

.index {
  padding: 0 var(--space-xxl);
}

.index li {
  padding: var(--space-md) 0;
}

.index-link {
  text-decoration: none;
  color: var(--color-dark);
  font-weight: var(--font-weight-semibold);
}

.content {
  /* background-color: var(--color-light); */
  padding: 0 var(--space-xxl);
}

/* Color Box Styles */
.color-box {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  border-radius: 14px;
  overflow: hidden;
}

.color-box_item {
  height: 200px;
  flex: 1 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-box_item:nth-child(1) {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.color-box_item:nth-child(2) {
  background-color: var(--color-dark);
  color: var(--color-white);
}

.color-box_item:nth-child(3) {
  background-color: var(--color-secondary);
  color: var(--color-black);
}

.color-box_item:nth-child(4) {
  background-color: var(--color-white);
  color: var(--color-black);
}

.color-box_item:nth-child(5) {
  background-color: var(--color-light);
  color: var(--color-black);
}

/* Demos */
.demo {
  display: flex;
  flex-flow: column;
  margin: var(--space-lg) 0 var(--space-xl);
}

.demo .alert {
  margin-bottom: var(--space-md);
}

.demo .avatar {
  margin-left: var(--space-xl);
}

.demo .badge {
  margin-left: var(--space-xl);
  align-self: flex-start;
}

.demo .badge .avatar {
  margin-left: 0;
}

.demo .btn {
  margin-left: var(--space-xl);
  margin-bottom: var(--space-md);
}

.demo .card {
  margin-left: var(--space-xl);
  margin-bottom: var(--space-md);
}

.demo .card .btn {
  margin-left: unset;
  margin-bottom: unset;
}

.demo .img-round {
  margin: var(--space-md) auto;
}

.demo h1,
.demo p {
  margin-bottom: var(--space-sm);
}

/* Tablet and Desktop Styles */
@media only screen and (min-width: 720px) {
  .main {
    display: flex;
  }

  .index {
    flex: 1 280px;
    position: sticky;
    height: 100vh;
    overflow-y: auto;
    top: 0;
    left: 0;
  }

  .content {
    flex: 2 calc(100vw - 280px);
  }

  .color-box_item {
    flex: 1 100px;
  }
}
