/* ========================================================================== */
/* Documentation Styles */
/* ========================================================================== */

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

.header {
  background-color: var(--color-white);
  color: var(--color-primary);
  border-bottom: 1px solid var(--color-light);
  display: flex;
}

.main h2 {
  color: var(--color-dark);
}

.header, .index, .article, .docs-nav-mobile {
  padding: 0 var(--space-md);
}

.index {
  display: none;
  border-bottom: 1px solid var(--color-light);
}

.docs-nav-mobile .index {
  display: block;
  padding: 0;
}

.docs-nav-mobile summary h2 {
  display: inline-block;
}

.index li {
  padding: var(--space-sm) 0;
}

.index-link {
  text-decoration: none;
  color: var(--color-dark);
  font-weight: var(--font-weight-semibold);
}

.btn.scroll-top {
  display: none;
  position: fixed;
  right: var(--space-md);
  bottom: var(--space-xxl);
}

/* Color Box Styles */
.color-box {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  border-radius: 14px;
  overflow: hidden;
}

.color-box_item {
  height: 200px;
  flex: 1 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-box_item:nth-child(1) {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.color-box_item:nth-child(2) {
  background-color: var(--color-dark);
  color: var(--color-white);
}

.color-box_item:nth-child(3) {
  background-color: var(--color-secondary);
  color: var(--color-black);
}

.color-box_item:nth-child(4) {
  background-color: var(--color-white);
  color: var(--color-black);
}

.color-box_item:nth-child(5) {
  background-color: var(--color-light);
  color: var(--color-black);
}

/* Spacing */
.spacing-box {
  background-color: var(--color-dark);
  margin-left: var(--space-lg);
}

.spacing-box.-xs {
  height: var(--space-xs);
  width: var(--space-xs);
}

.spacing-box.-sm {
  height: var(--space-sm);
  width: var(--space-sm);
}

.spacing-box.-md {
  height: var(--space-md);
  width: var(--space-md);
}

.spacing-box.-lg {
  height: var(--space-lg);
  width: var(--space-lg);
}

.spacing-box.-xl {
  height: var(--space-xl);
  width: var(--space-xl);
}

.spacing-box.-xxl {
  height: var(--space-xxl);
  width: var(--space-xxl);
}

/* Demos */
.demo {
  display: flex;
  flex-flow: column;
  margin: var(--space-lg) 0 var(--space-xl);
}

.demo .alert {
  margin-bottom: var(--space-md);
}

.demo .avatar {
  margin-left: var(--space-xl);
}

.demo .badge {
  margin-left: var(--space-xl);
  align-self: flex-start;
}

.demo .badge .avatar {
  margin-left: 0;
}

.demo .btn {
  margin-left: var(--space-xl);
  margin-bottom: var(--space-md);
}

.demo .card {
  /* margin-right: var(--space-xl); */
  margin-bottom: var(--space-md);
  width: 100%;
}

.demo .card .btn {
  margin-left: unset;
  margin-bottom: unset;
}

.demo .img-round {
  margin: var(--space-md) auto;
  width: calc(var(--space-md) * 10);
  height: calc(var(--space-md) * 10);
}

.demo h1,
.demo p {
  margin-bottom: var(--space-sm);
}

.demo .rating {
  align-self: flex-start;
  margin-bottom: var(--space-md);
}

.demo .container {
  width: 100%;
  margin-bottom: var(--space-md);
}

.demo .grid-col {
  padding: var(--space-md) var(--space-xl);
  border: 1px solid var(--color-secondary);
}

.demo .grid-col:not(:last-child) {
  border-right: 0;
}

/* Tablet and Desktop Styles */
@media only screen and (min-width: 48rem) {
  .main {
    display: flex;
  }

  .docs-nav-mobile {
    display: none;
  }

  .index {
    width: 18rem;
    flex-shrink: 0;
    position: sticky;
    height: 100vh;
    overflow-y: auto;
    top: 0;
    left: 0;
  }

  .content {
    width: calc(100vw - 19rem);
    flex: 1 1 0%;
  }

  .header, .index, .article {
    padding: 0 var(--space-xxl);
  }

  .index {
    border: none;
    display: block;
  }
  
  .index li {
    padding: var(--space-md) 0;
  }

  .btn.scroll-top {
    right: var(--space-xxl);
  }

  .color-box_item {
    flex: 1 100px;
  }

  .card-grid {
    justify-content: space-between;
  }

  .card-grid .card {
    width: calc(50% - 2rem);
  }

  .card-grid .card_horizontal {
    width: 100%;
  }
}
